# Scikit learn

sk learn is python library where we can use different types of machine learning algorithm to predict or classify the pattern form the dataset(database)

## Introduction to Scikit-Learn(sklearn)

this notebook demonstrate some of the most use function of the scikit-learn library.
we covered

0. An end-to-end Scikit-Learn wrokflow
1. Getting the data ready
2. Choose the right estimator/algorithm for our problems
3. Fit the model/algorithm and use it to make prediction on our data
4. Evaluate a model.
5. Improve a model.
6. Save and load a trained model.
7. Putting it all together.

## step 0

In [1]:
import pandas as pd
heart_disease= pd.read_csv("../heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [8]:
import numpy as np

In [2]:
# create X (feature Matrix )
X = heart_disease.drop("target",axis=1)

#create Y (labels)
Y= heart_disease["target"]

In [3]:
#2. choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

#we will keep the default hyperparameter
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [5]:
#3. fit the model to the training data
from sklearn.model_selection import train_test_split

X_train, X_test,y_train,y_test= train_test_split(X,Y,test_size=0.2)

In [7]:
clf.fit(X_train,y_train);

In [9]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
56,48,1,0,122,222,0,0,186,0,0.0,2,0,2
175,40,1,0,110,167,0,0,114,1,2.0,1,0,3
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2
174,60,1,0,130,206,0,0,132,1,2.4,1,2,3
188,50,1,2,140,233,0,1,163,0,0.6,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,55,0,0,180,327,0,2,117,1,3.4,1,0,2
75,55,0,1,135,250,0,0,161,0,1.4,1,0,2
148,44,1,2,120,226,0,1,169,0,0.0,2,0,2
119,46,0,0,138,243,0,0,152,1,0.0,1,0,2
57,45,1,0,115,260,0,0,185,0,0.0,2,0,2

In [10]:
#make a prediction
y_label = clf.predict(np.array([0,2,3,4]))

C:\Users\Mani\Sample\env\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=[0. 2. 3. 4.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [12]:
y_pred = clf.predict(X_test)
y_pred

array([0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [13]:
y_test

251    0
265    0
7      1
101    1
17     1
      ..
45     1
146    1
43     1
109    1
107    1
Name: target, Length: 61, dtype: int64

In [14]:
# 4 Evaluate the model on the training and testing data
clf.score(X_train,y_train)

1.0

In [16]:
clf.score(X_test,y_test)

0.7868852459016393

In [17]:
X_test # the respresent the dataset attribute and Y represent the label of the values

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
251,43,1,0,132,247,1,0,143,1,0.1,1,4,3
265,66,1,0,112,212,0,0,132,1,0.1,2,1,2
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3
101,59,1,3,178,270,0,0,145,0,4.2,0,0,3
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,52,1,1,120,325,0,1,172,0,0.2,2,0,2
146,44,0,2,118,242,0,1,149,0,0.3,1,1,2
43,53,0,0,130,264,0,0,143,0,0.4,1,0,2
109,50,0,0,110,254,0,0,159,0,0.0,2,0,2
107,45,0,0,138,236,0,0,152,1,0.2,1,0,2

In [18]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
56,48,1,0,122,222,0,0,186,0,0.0,2,0,2
175,40,1,0,110,167,0,0,114,1,2.0,1,0,3
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2
174,60,1,0,130,206,0,0,132,1,2.4,1,2,3
188,50,1,2,140,233,0,1,163,0,0.6,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,55,0,0,180,327,0,2,117,1,3.4,1,0,2
75,55,0,1,135,250,0,0,161,0,1.4,1,0,2
148,44,1,2,120,226,0,1,169,0,0.0,2,0,2
119,46,0,0,138,243,0,0,152,1,0.0,1,0,2
57,45,1,0,115,260,0,0,185,0,0.0,2,0,2

In [19]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.86      0.64      0.73        28
           1       0.75      0.91      0.82        33

    accuracy                           0.79        61
   macro avg       0.80      0.78      0.78        61
weighted avg       0.80      0.79      0.78        61

In [20]:
confusion_matrix(y_test,y_pred)

array([[18, 10],
       [ 3, 30]], dtype=int64)

In [21]:
X_test.shape

(61, 13)

In [22]:
accuracy_score(y_test,y_pred)

0.7868852459016393

In [26]:
#5. Impove the efficiency of the algorithm
#try different amot of n_estimators
np.random.seed(42)
for i in range (10,100,10):
    print(f'Trying model with {i} estimators')
    clf = RandomForestClassifier(n_estimators=i).fit(X_train,y_train)
    print(f"Model accuracy on test set:{clf.score(X_test,y_test)*100:.2f}%")
    print(f"")

Trying model with 10 estimators
Model accuracy on test set:83.61%

Trying model with 20 estimators
Model accuracy on test set:77.05%

Trying model with 30 estimators
Model accuracy on test set:78.69%

Trying model with 40 estimators
Model accuracy on test set:80.33%

Trying model with 50 estimators
Model accuracy on test set:78.69%

Trying model with 60 estimators
Model accuracy on test set:83.61%

Trying model with 70 estimators
Model accuracy on test set:81.97%

Trying model with 80 estimators
Model accuracy on test set:81.97%

Trying model with 90 estimators
Model accuracy on test set:81.97%

In [27]:
#6 . save the data set 
import pickle 
pickle.dump(clf,open("randomforesrt_model1.pkl","wb"))